<!DOCTYPE html>

<html>

{{>head}}

<body>
    <div class="main-content">
        {{>header}}

        <canvas id="myChart" width="400" height="300"></canvas>

    </div>

    {{>footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script>
    
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: {{{json dataLabels}}},
            datasets: {{{json dataset}}}

          },
          options: {

          }
      });
    </script>
</body>

</html>