<head>
    <title>COVID19 - Spreading in europe</title>
    <link rel="icon" href="/img/virus.png">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap" rel="stylesheet">
</head>